<?xml version="1.1" encoding="UTF-8" standalone="no"?><project>
  <actions/>
  <description/>
  <keepDependencies>false</keepDependencies>
  <properties>
    
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@5.2.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/$Repository/tms-configuration</url>
        <credentialsId>Github</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/$Branch</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="empty-list"/>
    <extensions/>
  </scm>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>newman run "default/tms-config-jenkins-test.postman_collection.json" --env-var "ofUrl=http://transaction-monitoring-service-rel-1-0-0.processor.svc:3000"  --env-var "arangoUrl=http://arango.development.svc.cluster.local:8529" --env-var "arangoUsername=root" --env-var "arangoPassword=${ArangoPassword}" --env-var "path-pacs008=transfer" --env-var "path-pacs002=transfer-response" --env-var "db_messagehistory=transactionHistory" --env-var "db_results=evaluationResults" --env-var "db_coll_msg_transactionHistoryPacs008=transactionHistoryPacs008" --env-var "db_coll_msg_transactionHistoryPacs002=transactionHistoryPacs002" --disable-unicode</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <jenkins.plugins.nodejs.NodeJSBuildWrapper plugin="nodejs@1.6.1">
      <nodeJSInstallationName>nodejs</nodeJSInstallationName>
      <cacheLocationStrategy class="jenkins.plugins.nodejs.cache.PerJobCacheLocationLocator"/>
    </jenkins.plugins.nodejs.NodeJSBuildWrapper>
  </buildWrappers>
</project>