<?xml version="1.1" encoding="UTF-8" standalone="no"?><project>
  <actions/>
  <description/>
  <keepDependencies>false</keepDependencies>
  <properties>
    
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@5.2.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/$Repository/nats-utilities/</url>
        <credentialsId>Github</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/$Branch</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="empty-list"/>
    <extensions/>
  </scm>
  <assignedNode>jenkins-agent</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash -xe
# Replace content in Dockerfile
sed -i "s|ENV APM_SECRET_TOKEN=|ENV APM_SECRET_TOKEN=${APMToken}|g" Dockerfile
sed -i "s|ENV SERVER_URL=0.0.0.0:4222|ENV SERVER_URL=${NATS_SERVER_URL}|g" Dockerfile
sed -i "s|ENV STARTUP_TYPE=nats|ENV STARTUP_TYPE=${NATS_SERVER_TYPE}|g" Dockerfile
sed -i "s|${ImageRepository}/nats-utilities-rel-1-0-0|${ImageRepository}/nats-utilities-rel-1-0-0-${envName}|g" deployment.yaml 
sed -i "s/\${GH_TOKEN}/${READ_GH_TOKEN}/g" .npmrc
# Login to container registry
echo $REG_PASS | buildah login --username $REG_USER --password-stdin ${ImageRepository}
# Build Docker Image
buildah bud --format docker --ulimit nofile=4096:4096 -t ${ImageRepository}/nats-utilities-rel-1-0-0-${envName}:1.0.0 .
# Push Docker Image to Container Registry
buildah push ${ImageRepository}/nats-utilities-rel-1-0-0-${envName}:1.0.0
# Apply newly built image to a kubernetes pod
kubectl apply -f deployment.yaml
# Rollout restart the deployment to take effect
kubectl rollout restart deployment nats-utilities-rel-1-0-0 -n processor
# Apply the service configuration
kubectl apply -f service.yaml</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <org.jenkinsci.plugins.credentialsbinding.impl.SecretBuildWrapper plugin="credentials-binding@657.v2b_19db_7d6e6d">
      <bindings>
        <org.jenkinsci.plugins.credentialsbinding.impl.UsernamePasswordMultiBinding>
          <credentialsId>ContainerRegistry</credentialsId>
          <usernameVariable>REG_USER</usernameVariable>
          <passwordVariable>REG_PASS</passwordVariable>
        </org.jenkinsci.plugins.credentialsbinding.impl.UsernamePasswordMultiBinding>
        <org.jenkinsci.plugins.credentialsbinding.impl.StringBinding>
          <credentialsId>githubReadPackage</credentialsId>
          <variable>READ_GH_TOKEN</variable>
        </org.jenkinsci.plugins.credentialsbinding.impl.StringBinding>
      </bindings>
    </org.jenkinsci.plugins.credentialsbinding.impl.SecretBuildWrapper>
    <org.csanchez.jenkins.plugins.kubernetes.KubectlBuildWrapper plugin="kubernetes@4186.v1d804571d5d4">
      <serverUrl>https://E2D6FC74387DB5078991F3AF86082D22.yl4.af-south-1.eks.amazonaws.com</serverUrl>
      <credentialsId>kubernetespro</credentialsId>
    </org.csanchez.jenkins.plugins.kubernetes.KubectlBuildWrapper>
  </buildWrappers>
</project>