<?xml version='1.1' encoding='UTF-8'?>
<com.cloudbees.hudson.plugins.folder.Folder plugin="cloudbees-folder@6.858.v898218f3609d">
  <actions/>
  <description></description>
  <properties>
    <org.csanchez.jenkins.plugins.kubernetes.KubernetesFolderProperty plugin="kubernetes@4151.v6fa_f0fb_0b_4c9">
      <permittedClouds/>
    </org.csanchez.jenkins.plugins.kubernetes.KubernetesFolderProperty>
  </properties>
  <folderViews class="com.cloudbees.hudson.plugins.folder.views.DefaultFolderViewHolder">
    <views>
      <hudson.model.AllView>
        <owner class="com.cloudbees.hudson.plugins.folder.Folder" reference="../../../.."/>
        <name>All</name>
        <filterExecutors>false</filterExecutors>
        <filterQueue>false</filterQueue>
        <properties class="hudson.model.View$PropertyList"/>
      </hudson.model.AllView>
      <hudson.model.ListView>
        <owner class="com.cloudbees.hudson.plugins.folder.Folder" reference="../../../.."/>
        <name>More</name>
        <filterExecutors>false</filterExecutors>
        <filterQueue>false</filterQueue>
        <properties class="hudson.model.View$PropertyList"/>
        <jobNames>
          <comparator class="java.lang.String$CaseInsensitiveComparator"/>
          <string>rule-000</string>
          <string>rule-001</string>
          <string>rule-002</string>
          <string>rule-003</string>
          <string>rule-004</string>
          <string>rule-006</string>
          <string>rule-007</string>
          <string>rule-008</string>
          <string>rule-010</string>
          <string>rule-011</string>
          <string>rule-016</string>
          <string>rule-017</string>
          <string>rule-018</string>
          <string>rule-020</string>
          <string>rule-021</string>
          <string>rule-024</string>
          <string>rule-025</string>
          <string>rule-026</string>
          <string>rule-027</string>
          <string>rule-028</string>
          <string>rule-030</string>
          <string>rule-034</string>
          <string>rule-035</string>
          <string>rule-036</string>
          <string>rule-037</string>
          <string>rule-044</string>
          <string>rule-045</string>
          <string>rule-048</string>
          <string>rule-054</string>
          <string>rule-063</string>
          <string>rule-074</string>
          <string>rule-075</string>
          <string>rule-076</string>
          <string>rule-078</string>
          <string>rule-083</string>
          <string>rule-084</string>
          <string>rule-090</string>
          <string>rule-091</string>
        </jobNames>
        <jobFilters/>
        <columns>
          <hudson.views.StatusColumn/>
          <hudson.views.WeatherColumn/>
          <hudson.views.JobColumn/>
          <hudson.views.LastSuccessColumn/>
          <hudson.views.LastFailureColumn/>
          <hudson.views.LastDurationColumn/>
          <hudson.views.BuildButtonColumn/>
          <hudson.plugins.favorite.column.FavoriteColumn plugin="favorite@2.204.vef3c36862054"/>
          <jenkins.plugins.extracolumns.LastJobConfigurationModificationColumn plugin="extra-columns@1.26"/>
        </columns>
        <recurse>false</recurse>
      </hudson.model.ListView>
    </views>
    <tabBar class="hudson.views.DefaultViewsTabBar"/>
  </folderViews>
  <healthMetrics/>
  <icon class="com.cloudbees.hudson.plugins.folder.icons.StockFolderIcon"/>
</com.cloudbees.hudson.plugins.folder.Folder>